{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="pt">

{% block content %}
    <body id="page-top" class="index">
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{% static 'img/profile.png' %}" alt="">

                    <div class="intro-text">
                        <span class="name">Desenvolvimento Eficaz</span>
                        <hr class="star-light">
                        <span class="skills">Engenheiro de Software</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/eventex.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/swms.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{% static 'img/portfolio/gestvisitor.png' %}" class="img-responsive" alt="">
                    </a>
                </div>
                {#                <div class="col-sm-4 portfolio-item">#}
                {#                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">#}
                {#                        <div class="caption">#}
                {#                            <div class="caption-content">#}
                {#                                <i class="fa fa-search-plus fa-3x"></i>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <img src="{% static 'img/portfolio/game.png' %}" class="img-responsive" alt="">#}
                {#                    </a>#}
                {#                </div>#}
                {#                <div class="col-sm-4 portfolio-item">#}
                {#                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">#}
                {#                        <div class="caption">#}
                {#                            <div class="caption-content">#}
                {#                                <i class="fa fa-search-plus fa-3x"></i>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <img src="{% static 'img/portfolio/safe.png' %}" class="img-responsive" alt="">#}
                {#                    </a>#}
                {#                </div>#}
                {#                <div class="col-sm-4 portfolio-item">#}
                {#                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">#}
                {#                        <div class="caption">#}
                {#                            <div class="caption-content">#}
                {#                                <i class="fa fa-search-plus fa-3x"></i>#}
                {#                            </div>#}
                {#                        </div>#}
                {#                        <img src="{% static 'img/portfolio/submarine.png' %}" class="img-responsive" alt="">#}
                {#                    </a>#}
                {#                </div>#}
            </div>
        </div>
    </section>

    <!-- Sobre Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> Apaixonado por desenvolvimento de software!</p>

                    <p>Atua nas áreas de Tecnologia da Informação avaliando e executando o
                        desenvolvimento de novos programas, estabelecendo padrões e métodos
                        para a organização utilizando Software Livre e Métodos Ágeis como
                        ferramentas para a identificação de problemas técnicos e/ou administrativos,
                        visando com isto alcançar soluções eficazes.</p>
                </div>
                <div class="col-lg-4">
                    <p>Experiência profissional em Python e Django.</p>

                    <p>Conhecimento e experiências acadêmicas nas linguagens de programação C#, Java, ASP .NET MVC,
                        PHP.</p>

                    <p>SGBDs - PostgreSQL, MySQL, SQL Server, FireBird.</p>

                    <p>Administração de redes de computadores.</p>
                </div>
                {#                <div class="col-lg-8 col-lg-offset-2 text-center">#}
                {#                    <a href="#" class="btn btn-lg btn-outline">#}
                {#                        <i class="fa fa-download"></i> Download Theme#}
                {#                    </a>#}
                {#                </div>#}
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contate-me</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                <p>{{ message }}</p>
                            </div>
                        {% endfor %}

                    {% endif %}
                    <form action="/#contact" method="post" name="sentMessage" id="contactForm" novalidate>

                        {% csrf_token %}
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                                {% if form.name.errors %}
                                    <div class="alert alert-danger" role="alert">{{ form.name.errors }}</div>
                                {% endif %}
                                {{ form.name }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                                {% if form.email.errors %}
                                    <div class="alert alert-danger" role="alert">{{ form.email.errors }}</div>
                                {% endif %}
                                {{ form.email }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                                {% if form.phone.errors %}
                                    <div class="alert alert-danger" role="alert">{{ form.phone.errors }}</div>
                                {% endif %}
                                {{ form.phone }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                                {% if form.message.errors %}
                                    <div class="alert alert-danger" role="alert">{{ form.message.errors }}</div>
                                {% endif %}
                                {{ form.message }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>

                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Localização</h3>

                        <p>Beja<br>Portugal</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Redes sociais</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/adbrumvidal" class="btn-social btn-outline"><i
                                        class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+AdrianoRegisVidal" class="btn-social btn-outline"><i
                                        class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/adbrumvidal" class="btn-social btn-outline"><i
                                        class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://pt.linkedin.com/in/adrianoregisvidal" class="btn-social btn-outline"><i
                                        class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            {#                            <li>#}
                            {#                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>#}
                            {#                            </li>#}
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Contatos</h3>

                        <p>adriano.regis.vidal@outlook.com</p>

                        <p>+351 966080448</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Adriano Regis 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Eventex - O maior encontro haker do mundo!</h2>
                            <hr class="star-primary">
                            <a href="https://eventex-adrianoregis.herokuapp.com/">
                                <img src="{% static 'img/portfolio/eventex.png' %}" class="img-responsive img-centered"
                                     alt="">
                            </a>
                            <h6>*Textos e Projeto no idioma Pt-br</h6>
                            <p>O Sistema de gestão de eventos <a href="https://eventex-adrianoregis.herokuapp.com/">Eventex</a>,
                                foi desenvolvido no decorrer do curso
                                <a href="http://welcometothedjango.com.br/">Welcome to the Django (WTTD)</a>, ministrado
                                pelo mestre <a href="http://henriquebastos.net/">Henrique Bastos</a>.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="http://welcometothedjango.com.br/">WTTD</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>Fevereiro 2016</strong>
                                </li>
                                <li>Service:
                                    <strong>Desenvolvimento de software</strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Sistema Web de Monitorização de Sensores (SWMS)</h2>
                            <hr class="star-primary">
                            <a href="http://swms.herokuapp.com">
                                <img src="{% static 'img/portfolio/swms.png' %}" class="img-responsive img-centered"
                                     alt="">
                            </a>

                            <h6>*Textos e Projeto no idioma Pt-pt</h6>

                            <p>O <a href="http://swms.herokuapp.com">SWMS</a> é uma base de monitorização remota
                                de equipamentos
                                com sistemas embebidos, foi projetado para aumentar a eficiência na execução de ações em
                                inúmeras
                                áreas com a disponibilização de informação sobre a coleta de dados em sensores diversos
                                e em tempo
                                real.
                            </p>

                            <p>
                                O sistema desenvolvido possibilita a aquisição de dados dum ambiente através do
                                microcomputador Raspberry Pi. Esses dados se referem a fenômenos físicos como, por
                                exemplo,
                                temperatura e humidade. A interação do Raspberry Pi com o ambiente físico para a coleta
                                dos dados
                                desses fenômenos ocorre por meio de um sensor específico. O sensor fica conectado ao
                                Raspberry Pi
                                e os dados são enviados, via comunicação Pinos GPIO (General Purpose Input/Output), para
                                um aplicativo dedicado que armazena-os num banco de dados.</p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a
                                            href="https://www.ipbeja.pt/UnidadesOrganicas/ESTIG/Paginas/default.aspx">
                                        ESTIG - Escola Superior de Tecnologia e Gestão</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>Setembro 2015</strong>
                                </li>
                                <li>Service:
                                    <strong>Projeto final de curso
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Gestvisitor - Access control system</h2>
                            <hr class="star-primary">
                            {#                            <img src="{% static 'img/portfolio/circus.png' %}" class="img-responsive img-centered"#}
                            {#                                 alt="">#}

                            <p>

                            <div class="video-container">
                                {#                                <object style="height: 390px; width: 640px">#}
                                <param name="https://www.youtube.com/v/jaRZWggD4yk">
                                <param name="allowFullScreen" value="true">
                                <param name="allowScriptAccess" value="always">
                                <embed src="https://www.youtube.com/v/jaRZWggD4yk"
                                       type="application/x-shockwave-flash" allowfullscreen="true"
                                       allowScriptAccess="always" width="640" height="390">
                                    {#                                </object>#}
                            </div>
                            </p>
                            <h6>*Textos e Projeto no idioma Pt-pt</h6>

                            <p>
                                Sistema desenvolvido por mim, em contexto de estágio profissional na empresa
                                <a href="https://www.facebook.com/exclusivkey/">Exclusivkey Portugal</a>.

                            </p>
                            <ul class="list-inline item-details">
                                <li>Client:
                                    <strong><a href="https://www.facebook.com/exclusivkey/">Exclusivkey Portugal</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>Abril 2015</strong>
                                </li>
                                <li>Service:
                                    <strong>Engenharia de software
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">#}
    {#        <div class="modal-content">#}
    {#            <div class="close-modal" data-dismiss="modal">#}
    {#                <div class="lr">#}
    {#                    <div class="rl">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="container">#}
    {#                <div class="row">#}
    {#                    <div class="col-lg-8 col-lg-offset-2">#}
    {#                        <div class="modal-body">#}
    {#                            <h2>Project Title</h2>#}
    {#                            <hr class="star-primary">#}
    {#                            <img src="{% static 'img/portfolio/game.png' %}" class="img-responsive img-centered" alt="">#}
    {##}
    {#                            <p>Use this area of the page to describe your project. The icon above is part of a free icon#}
    {#                                set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you#}
    {#                                can download their free set with 16 icons, or you can purchase the entire set with 146#}
    {#                                icons for only $12!</p>#}
    {#                            <ul class="list-inline item-details">#}
    {#                                <li>Client:#}
    {#                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>#}
    {#                                    </strong>#}
    {#                                </li>#}
    {#                                <li>Date:#}
    {#                                    <strong><a href="http://startbootstrap.com">April 2014</a>#}
    {#                                    </strong>#}
    {#                                </li>#}
    {#                                <li>Service:#}
    {#                                    <strong><a href="http://startbootstrap.com">Web Development</a>#}
    {#                                    </strong>#}
    {#                                </li>#}
    {#                            </ul>#}
    {#                            <button type="button" class="btn btn-default" data-dismiss="modal"><i#}
    {#                                    class="fa fa-times"></i> Close#}
    {#                            </button>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">#}
    {#        <div class="modal-content">#}
    {#            <div class="close-modal" data-dismiss="modal">#}
    {#                <div class="lr">#}
    {#                    <div class="rl">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="container">#}
    {#                <div class="row">#}
    {#                    <div class="col-lg-8 col-lg-offset-2">#}
    {#                        <div class="modal-body">#}
    {#                            <h2>Project Title</h2>#}
    {#                            <hr class="star-primary">#}
    {#                            <img src="{% static 'img/portfolio/safe.png' %}" class="img-responsive img-centered" alt="">#}
    {##}
    {#                            <p>Use this area of the page to describe your project. The icon above is part of a free icon#}
    {#                                set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you#}
    {#                                can download their free set with 16 icons, or you can purchase the entire set with 146#}
    {#                                icons for only $12!</p>#}
    {#                            <ul class="list-inline item-details">#}
    {#                                <li>Client:#}
    {#                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>#}
    {#                                    </strong>#}
    {#                                </li>#}
    {#                                <li>Date:#}
    {#                                    <strong><a href="http://startbootstrap.com">April 2014</a>#}
    {#                                    </strong>#}
    {#                                </li>#}
    {#                                <li>Service:#}
    {#                                    <strong><a href="http://startbootstrap.com">Web Development</a>#}
    {#                                    </strong>#}
    {#                                </li>#}
    {#                            </ul>#}
    {#                            <button type="button" class="btn btn-default" data-dismiss="modal"><i#}
    {#                                    class="fa fa-times"></i> Close#}
    {#                            </button>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">#}
    {#        <div class="modal-content">#}
    {#            <div class="close-modal" data-dismiss="modal">#}
    {#                <div class="lr">#}
    {#                    <div class="rl">#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <div class="container">#}
    {#                <div class="row">#}
    {#                    <div class="col-lg-8 col-lg-offset-2">#}
    {#                        <div class="modal-body">#}
    {#                            <h2>Project Title</h2>#}
    {#                            <hr class="star-primary">#}
    {#                            <img src="{% static 'img/portfolio/submarine.png' %}" class="img-responsive img-centered"#}
    {#                                 alt="">#}
    {##}
    {#                            <p>Use this area of the page to describe your project. The icon above is part of a free icon#}
    {#                                set by <a href="https://sellfy.com/p/8Q9P/jV3VZ/">Flat Icons</a>. On their website, you#}
    {#                                can download their free set with 16 icons, or you can purchase the entire set with 146#}
    {#                                icons for only $12!</p>#}
    {#                            <ul class="list-inline item-details">#}
    {#                                <li>Client:#}
    {#                                    <strong><a href="http://startbootstrap.com">Start Bootstrap</a>#}
    {#                                    </strong>#}
    {#                                </li>#}
    {#                                <li>Date:#}
    {#                                    <strong><a href="http://startbootstrap.com">April 2014</a>#}
    {#                                    </strong>#}
    {#                                </li>#}
    {#                                <li>Service:#}
    {#                                    <strong><a href="http://startbootstrap.com">Web Development</a>#}
    {#                                    </strong>#}
    {#                                </li>#}
    {#                            </ul>#}
    {#                            <button type="button" class="btn btn-default" data-dismiss="modal"><i#}
    {#                                    class="fa fa-times"></i> Close#}
    {#                            </button>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}



    </body>
</html>
{% endblock content %}